In [ ]:
# create a list and populate the list with the numbers from 1-10

In [ ]:
arrange_list = arrange_list(range(1,12))
print(arrange_list)

In [1]:
n=list()
for n in range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# create a list with only even numbers from 1, 20

In [3]:
#Creating a list using a for loop

v = []
for i in range(1,11):
    v.append(i)
print(v)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
#list comprenhension

[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
v = []
for i in range(0,20,2):
    v.append(i)

print(v)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [11]:
[i for i in range(0,20,2)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
# Create a new list with the length of the elements in the below list 

["Hyderabad", "is", "an", "amazing", "city"]

# Output;

[9, 2, 2, 7, 7]

In [12]:
words=["Hyderabad","is","an","amazing","city"]
l=[len(word) for word in words]
print(l)

[9, 2, 2, 7, 4]

In [14]:
[x for x in range(1,11) if x%2==0]

[2, 4, 6, 8, 10]

In [15]:
words = ["Hyderabad","is","an","amazing","city"]

In [16]:
words_1 = []
for i in words:
    if len(i) > 5:
        words_1.append(i)
print(words_1)

['Hyderabad', 'amazing']

In [17]:
#Using if in comprehension

[x for x in words if len(x)> 5]

['Hyderabad', 'amazing']

In [ ]:

#Expected Output

['Hyderabad', 0, 0, 'amazing', 0]

In [18]:
for i in words:
      if len(i)>5:
          words_1.append(i)
          print(words_1)
      else:
         print(0)

['Hyderabad', 'amazing', 'Hyderabad']
0
0
['Hyderabad', 'amazing', 'Hyderabad', 'amazing']
0

In [ ]:
# for i in words:
#       if len(i)>5:
#           words_1.append(i)
#           print(words_1)
#       else:
#          If len(i)<5
#         PRINT(0)

In [ ]:
['Hyderabad', 0, 0, 'amazing', 0]

In [19]:
words_1 = []
for i in words:
    if len(i) > 5:
        words_1.append(i)
    else:
        words_1.append(0)
    
print(words_1)

['Hyderabad', 0, 0, 'amazing', 0]

In [20]:
#using if-else in list comprehension 

[i if len(i) > 5 else 0 for i in words]

['Hyderabad', 0, 0, 'amazing', 0]

In [ ]:
['Hyderabad', 'is', 'an', 'amazing', 'city']

In [ ]:
length = {}

# Expected Output:

{'Hyderabad': 9, 'amazing': 7, }

In [21]:
length = {}

for i in words:
    length[i] = len(i)

print(length)

{'Hyderabad': 9, 'is': 2, 'an': 2, 'amazing': 7, 'city': 4}

In [22]:
{i: len(i) for i in words}

{'Hyderabad': 9, 'is': 2, 'an': 2, 'amazing': 7, 'city': 4}

In [23]:
{i: [x for x in range(1,5)] for i in words}

{'Hyderabad': [1, 2, 3, 4],
 'is': [1, 2, 3, 4],
 'an': [1, 2, 3, 4],
 'amazing': [1, 2, 3, 4],
 'city': [1, 2, 3, 4]}

In [26]:
(len(i) for i in words)

generator