### Mutable & Immutable

In [1]:
x = 10
y = 20
z = 30

In [2]:
print(x)

10

In [ ]:
'''

1. Creating a Data Structure
2. Modify the DS: Adding, Deleting, Replacing
3. Indexing
4. Misc Operations



1. List
2. Dictionary
3. Set
4. Tuple


'''

### List

In [38]:
x = [3,4,5,6]

city_names = ["Hyderabad", "Banglore", "Mumbai", "Chennai"]

z = [3,4,5,6, "Hyderabad", "Banglore", "Mumbai", "Chennai"]

In [10]:
import time

In [11]:
for i in  city_names:

    print(i)
    time.sleep(1)

Hyderabad
Banglore
Mumbai
Chennai

In [ ]:

'''

Functions - User Defined Funtions
Methods - In-build Funtions or Functions inside a Class


List Methods:

1. append()
2. extend()
3. insert()
4. count()
5. index()
6. pop()
7. reverse()
8. remove()

'''

In [17]:
city_names.append("Ahemadabad")

In [37]:
city_names_2 = ["Kochin", "Kolkota", "Guhawti"]

In [34]:
city_names.append(city_names_2)

In [23]:
city_names[5]

['Kochin', 'Kolkota', 'Guhawti']

In [26]:
city_names.extend(city_names_2)

In [32]:
city_names

['Hyderabad',
 'Banglore',
 'Mumbai',
 'Chennai',
 ['Kochin', 'Kolkota', 'Guhawti']]

In [36]:
city_names[5][1]

'Kolkota'

In [41]:
final_city = city_names + city_names_2

['Hyderabad', 'Banglore', 'Mumbai', 'Chennai', 'Kochin', 'Kolkota', 'Guhawti']

In [42]:
[2] * 10

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [43]:
city_names

['Hyderabad', 'Banglore', 'Mumbai', 'Chennai']

In [44]:
city_names.append("Ahemadabad")

In [45]:
city_names

['Hyderabad', 'Banglore', 'Mumbai', 'Chennai', 'Ahemadabad']

In [46]:
city_names.insert(1, "Ladakh")

In [47]:
city_names

['Hyderabad', 'Ladakh', 'Banglore', 'Mumbai', 'Chennai', 'Ahemadabad']

In [48]:
city_names[1] = "Delhi"

In [49]:
city_names

['Hyderabad', 'Delhi', 'Banglore', 'Mumbai', 'Chennai', 'Ahemadabad']

In [50]:
del city_names[0]

In [51]:
city_names

['Delhi', 'Banglore', 'Mumbai', 'Chennai', 'Ahemadabad']

In [69]:
city_names = ["Banglore", "Mumbai", "Chennai", "Hyderabad"]

In [54]:
city_names.clear()

print(city_names)

[]

In [57]:
city_names.sort()

print(city_names)

['Banglore', 'Chennai', 'Hyderabad', 'Mumbai']

In [59]:
city_names.count("Hyderabad")

2

In [62]:
city_names.index("Hyderabad")

3

In [63]:
city_names

['Banglore', 'Mumbai', 'Chennai', 'Hyderabad']

In [ ]:
city_names.pop()

In [70]:
city_names

['Banglore', 'Mumbai', 'Chennai', 'Hyderabad']

In [71]:
city_names.pop(1)

'Mumbai'

In [74]:

city_names = ["Banglore", "Mumbai", "Chennai", "Hyderabad"]

city_names.reverse()

city_names

['Hyderabad', 'Chennai', 'Mumbai', 'Banglore']

### Dictionary

In [ ]:
'''

Methods Associated with Dictionaries 

1. get()
2. ^^update()
3. popitem()
4. clear
5. keys()
6. values()
7. items()
8. fromkeys()
9. setdefault()
10. copy()


'''

In [6]:
weather = {
    "Hyderabad" : 45,
    "Coimbatore" : 42,
    "Kolkota" : 44,
    "New Delhi": 49,
    "Kochi": 45,
    "Indore": 43.4,
    "Hyderabad": 44.8
    }

In [12]:
import numpy


students_marks = {}

for i in range(5):

    students_marks[f'A{i}'] = list(numpy.random.random_integers(38, 100, size=(5)))




print(students_marks)

{'A0': [86, 76, 67, 81, 76], 'A1': [72, 77, 46, 90, 85], 'A2': [41, 42, 68, 54, 54], 'A3': [74, 84, 99, 40, 78], 'A4': [53, 96, 99, 92, 91]}

/var/folders/jr/pfy34jh93sb8cn2hnjc2k73w0000gn/T/ipykernel_15118/741817340.py:8: DeprecationWarning: This function is deprecated. Please call randint(38, 100 + 1) instead
  students_marks[f'A{i}'] = list(numpy.random.random_integers(38, 100, size=(5)))

In [13]:
students_marks

{'A0': [86, 76, 67, 81, 76],
 'A1': [72, 77, 46, 90, 85],
 'A2': [41, 42, 68, 54, 54],
 'A3': [74, 84, 99, 40, 78],
 'A4': [53, 96, 99, 92, 91]}

In [7]:
print(weather)

{'Hyderabad': 44.8, 'Coimbatore': 42, 'Kolkota': 44, 'New Delhi': 49, 'Kochi': 45, 'Indore': 43.4}

In [15]:
students_data = {"David" : [34, 56, 67, 88, 90],
                 "Sony": [99, 98, 87, 65, 40]
                 }

print(students_data)

{'David': [34, 56, 67, 88, 90], 'Sony': [99, 98, 87, 65, 40]}

In [19]:
print(students_data)

{'David': [34, 56, 67, 88, 90], 'Sony': [99, 98, 87, 65, 40], 'John': [99, 87, 87, 65, 40]}

In [18]:
students_data['David'] = [99, 87, 87, 65, 45]

In [20]:
weather.keys()

dict_keys(['Hyderabad', 'Coimbatore', 'Kolkota', 'New Delhi', 'Kochi', 'Indore'])

In [21]:
weather.values()

dict_values([44.8, 42, 44, 49, 45, 43.4])

In [22]:
.items()

dict_items([('Hyderabad', 44.8), ('Coimbatore', 42), ('Kolkota', 44), ('New Delhi', 49), ('Kochi', 45), ('Indore', 43.4)])

In [23]:
weather

{'Hyderabad': 44.8,
 'Coimbatore': 42,
 'Kolkota': 44,
 'New Delhi': 49,
 'Kochi': 45,
 'Indore': 43.4}

In [24]:
weather_cities_2 = {

    "Noida": 47,
    "Pune": 42,
    "Nagpur": 40,
    "Vizag": 43

}

In [25]:
weather.update(weather_cities_2)

In [26]:
weather

{'Hyderabad': 44.8,
 'Coimbatore': 42,
 'Kolkota': 44,
 'New Delhi': 49,
 'Kochi': 45,
 'Indore': 43.4,
 'Noida': 47,
 'Pune': 42,
 'Nagpur': 40,
 'Vizag': 43}

In [28]:
test = {}


test.fromkeys(["A", "B", "C"], 1)

print(test)

{}

In [35]:
weather.pop("Pune")

42

In [36]:
weather

{'Hyderabad': 44.8,
 'Coimbatore': 42,
 'Kolkota': 44,
 'New Delhi': 49,
 'Kochi': 45,
 'Indore': 43.4,
 'Noida': 47,
 'Vizag': 43}

In [30]:
dict.fromkeys(["A", "B", "C"], True)

{'A': True, 'B': True, 'C': True}

In [ ]:
weather.

In [40]:
weather['Mumbai']

KeyError: 'Mumbai'

In [41]:
weather.get('Mumbai')

In [42]:
weather.popitem()

('Vizag', 43)

In [43]:
weather.setdefault('Secundrabad')

In [44]:
print(weather)

{'Hyderabad': 44.8, 'Coimbatore': 42, 'Kolkota': 44, 'New Delhi': 49, 'Kochi': 45, 'Indore': 43.4, 'Noida': 47, 'Secundrabad': None}

### Sets

In [60]:

'''
1. intersection
2. intersection_update
3. union
4. difference
5. difference_update
5. symmetric_difference
6. symmetric_difference_update
7. discard
8. pop
9. remove
10. update
11. issubset
12. issuperset
13. isdisjoint
14. clear
15. copy

'''

'\n1. intersection\n2. intersection_update\n3. union\n4. difference\n5. difference_update\n5. symmetric_difference\n6. symmetric_difference_update\n7. discard\n8. pop\n9. remove\n10. update\n11. issubset\n12. issuperset\n13. isdisjoint\n14. clear\n15. copy\n\n'

In [1]:
a = {1,2,3,4}

In [2]:
type(a)

set

In [5]:
survey_1 = {1,2,3,4}
survey_2 ={2,3,6,7,8}

In [6]:
## Common elements in both the sets. 

survey_1.intersection(survey_2)

{2, 3}

In [8]:
survey_1.union(survey_2)

{1, 2, 3, 4, 6, 7, 8}

In [7]:
a = {1, 1, 2, 3}

print(a)

{1, 2, 3}

In [14]:
survey_1 = {1,2,3,4}

print("Before: ", survey_1)

survey_1.intersection_update(survey_2)

print("After: ", survey_1)

Before:  {1, 2, 3, 4}
After:  {2, 3}

In [13]:
# A - B 


survey_1 = {1,2,3,4}
survey_2 ={2,3,6,7,8}


survey_2.difference(survey_1)

{6, 7, 8}

In [17]:
survey_1 = {1,2,3,4}
survey_2 ={2,3,6,7,8}


survey_1.add(5)

print(survey_1)

{1, 2, 3, 4, 5}

In [25]:
a = {2,3,4}
b = {10,11,12}

a.isdisjoint(b)

True

In [43]:
def intersection(set_1, set_2):

    result = set()
    for i in set_1:
        if i in set_2:
            result.add(i)
    for j in set_2:
        if j in set_1:
            result.add(j)
    return result


def isDisjoint(set_1 : set, set_2: set):

    if type(set_1) != set or type(set_2) != set:
        raise TypeError(f'Function does not support {type(set_1)}, enter a valid input: Set')
    if len(intersection(set_1, set_2)) == 0:
        return True
    return False

In [45]:
isDisjoint({10, 12}, {1,3})

True

In [36]:
10 in {1,2,3}

False

In [46]:
a = {2,3,4}
b = {10,11,12}

In [48]:
managers = {"A", "B", "C"}

employees = {"A", "B", "C", "D", "E", "F"}

managers.issuperset(employees)

False

In [49]:
managers.issubset(employees)

True

In [50]:
# (A - B) U (B - A)


a = {2,3,4,15,10}
b = {10,11,12,2}


a.symmetric_difference(b)

{3, 4, 11, 12, 15}

In [57]:
a.discard(2)

print(a)

{3, 4, 10, 15}

In [59]:
a.update({100, 200, 300, 400})

print(a)

{3, 4, 100, 200, 10, 300, 15, 400}

### Tuple

In [4]:
v = (1,2,3)

print(type(v))

<class 'tuple'>

In [5]:
v = tuple([1,2,3])
print(type(v))

<class 'tuple'>

In [6]:
v.index(2)

1

In [7]:
v.count(1)

1

In [10]:
v[2]

3