### Mutable & Immutable

In [1]:
x = 10
y = 20
z = 30

In [2]:
print(x)

10

In [ ]:
'''

1. Creating a Data Structure
2. Modify the DS: Adding, Deleting, Replacing
3. Indexing
4. Misc Operations



1. List
2. Dictionary
3. Set
4. Tuple


'''

### List

In [38]:
x = [3,4,5,6]

city_names = ["Hyderabad", "Banglore", "Mumbai", "Chennai"]

z = [3,4,5,6, "Hyderabad", "Banglore", "Mumbai", "Chennai"]

In [10]:
import time

In [11]:
for i in  city_names:

    print(i)
    time.sleep(1)

Hyderabad
Banglore
Mumbai
Chennai

In [ ]:

'''

Functions - User Defined Funtions
Methods - In-build Funtions or Functions inside a Class


List Methods:

1. append()
2. extend()
3. insert()
4. count()
5. index()
6. pop()
7. reverse()
8. remove()

'''

In [17]:
city_names.append("Ahemadabad")

In [37]:
city_names_2 = ["Kochin", "Kolkota", "Guhawti"]

In [34]:
city_names.append(city_names_2)

In [23]:
city_names[5]

['Kochin', 'Kolkota', 'Guhawti']

In [26]:
city_names.extend(city_names_2)

In [32]:
city_names

['Hyderabad',
 'Banglore',
 'Mumbai',
 'Chennai',
 ['Kochin', 'Kolkota', 'Guhawti']]

In [36]:
city_names[5][1]

'Kolkota'

In [41]:
final_city = city_names + city_names_2

['Hyderabad', 'Banglore', 'Mumbai', 'Chennai', 'Kochin', 'Kolkota', 'Guhawti']

In [42]:
[2] * 10

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [43]:
city_names

['Hyderabad', 'Banglore', 'Mumbai', 'Chennai']

In [44]:
city_names.append("Ahemadabad")

In [45]:
city_names

['Hyderabad', 'Banglore', 'Mumbai', 'Chennai', 'Ahemadabad']

In [46]:
city_names.insert(1, "Ladakh")

In [47]:
city_names

['Hyderabad', 'Ladakh', 'Banglore', 'Mumbai', 'Chennai', 'Ahemadabad']

In [48]:
city_names[1] = "Delhi"

In [49]:
city_names

['Hyderabad', 'Delhi', 'Banglore', 'Mumbai', 'Chennai', 'Ahemadabad']

In [50]:
del city_names[0]

In [51]:
city_names

['Delhi', 'Banglore', 'Mumbai', 'Chennai', 'Ahemadabad']

In [69]:
city_names = ["Banglore", "Mumbai", "Chennai", "Hyderabad"]

In [54]:
city_names.clear()

print(city_names)

[]

In [57]:
city_names.sort()

print(city_names)

['Banglore', 'Chennai', 'Hyderabad', 'Mumbai']

In [59]:
city_names.count("Hyderabad")

2

In [62]:
city_names.index("Hyderabad")

3

In [63]:
city_names

['Banglore', 'Mumbai', 'Chennai', 'Hyderabad']

In [ ]:
city_names.pop()

In [70]:
city_names

['Banglore', 'Mumbai', 'Chennai', 'Hyderabad']

In [71]:
city_names.pop(1)

'Mumbai'

In [74]:

city_names = ["Banglore", "Mumbai", "Chennai", "Hyderabad"]

city_names.reverse()

city_names

['Hyderabad', 'Chennai', 'Mumbai', 'Banglore']