### Mutable & Immutable

### Lists

In [1]:
x = 10
y = 20
z = 30

In [2]:
print(x)

10

In [ ]:
'''

1. Creating a Data Structure
2. Modify the DS: Adding, Deleting, Replacing
3. Indexing
4. Misc Operations



1. List
2. Dictionary
3. Set
4. Tuple


'''

### List

In [38]:
x = [3,4,5,6]

city_names = ["Hyderabad", "Banglore", "Mumbai", "Chennai"]

z = [3,4,5,6, "Hyderabad", "Banglore", "Mumbai", "Chennai"]

In [10]:
import time

In [11]:
for i in  city_names:

    print(i)
    time.sleep(1)

Hyderabad
Banglore
Mumbai
Chennai

In [ ]:

'''

Functions - User Defined Funtions
Methods - In-build Funtions or Functions inside a Class


List Methods:

1. append()
2. extend()
3. insert()
4. count()
5. index()
6. pop()
7. reverse()
8. remove()

'''

In [17]:
city_names.append("Ahemadabad")

In [37]:
city_names_2 = ["Kochin", "Kolkota", "Guhawti"]

In [34]:
city_names.append(city_names_2)

In [23]:
city_names[5]

['Kochin', 'Kolkota', 'Guhawti']

In [26]:
city_names.extend(city_names_2)

In [32]:
city_names

['Hyderabad',
 'Banglore',
 'Mumbai',
 'Chennai',
 ['Kochin', 'Kolkota', 'Guhawti']]

In [36]:
city_names[5][1]

'Kolkota'

In [41]:
final_city = city_names + city_names_2

['Hyderabad', 'Banglore', 'Mumbai', 'Chennai', 'Kochin', 'Kolkota', 'Guhawti']

In [42]:
[2] * 10

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [43]:
city_names

['Hyderabad', 'Banglore', 'Mumbai', 'Chennai']

In [44]:
city_names.append("Ahemadabad")

In [45]:
city_names

['Hyderabad', 'Banglore', 'Mumbai', 'Chennai', 'Ahemadabad']

In [46]:
city_names.insert(1, "Ladakh")

In [47]:
city_names

['Hyderabad', 'Ladakh', 'Banglore', 'Mumbai', 'Chennai', 'Ahemadabad']

In [48]:
city_names[1] = "Delhi"

In [49]:
city_names

['Hyderabad', 'Delhi', 'Banglore', 'Mumbai', 'Chennai', 'Ahemadabad']

In [50]:
del city_names[0]

In [51]:
city_names

['Delhi', 'Banglore', 'Mumbai', 'Chennai', 'Ahemadabad']

In [69]:
city_names = ["Banglore", "Mumbai", "Chennai", "Hyderabad"]

In [54]:
city_names.clear()

print(city_names)

[]

In [57]:
city_names.sort()

print(city_names)

['Banglore', 'Chennai', 'Hyderabad', 'Mumbai']

In [59]:
city_names.count("Hyderabad")

2

In [62]:
city_names.index("Hyderabad")

3

In [63]:
city_names

['Banglore', 'Mumbai', 'Chennai', 'Hyderabad']

In [ ]:
city_names.pop()

In [70]:
city_names

['Banglore', 'Mumbai', 'Chennai', 'Hyderabad']

In [71]:
city_names.pop(1)

'Mumbai'

In [74]:

city_names = ["Banglore", "Mumbai", "Chennai", "Hyderabad"]

city_names.reverse()

city_names

['Hyderabad', 'Chennai', 'Mumbai', 'Banglore']

### Dictionary

In [ ]:
'''

Methods Associated with Dictionaries 

1. get()
2. ^^update()
3. popitem()
4. clear
5. keys()
6. values()
7. items()
8. fromkeys()
9. setdefault()
10. copy()


'''

In [6]:
weather = {
    "Hyderabad" : 45,
    "Coimbatore" : 42,
    "Kolkota" : 44,
    "New Delhi": 49,
    "Kochi": 45,
    "Indore": 43.4,
    "Hyderabad": 44.8
    }

In [12]:
import numpy


students_marks = {}

for i in range(5):

    students_marks[f'A{i}'] = list(numpy.random.random_integers(38, 100, size=(5)))




print(students_marks)

{'A0': [86, 76, 67, 81, 76], 'A1': [72, 77, 46, 90, 85], 'A2': [41, 42, 68, 54, 54], 'A3': [74, 84, 99, 40, 78], 'A4': [53, 96, 99, 92, 91]}

/var/folders/jr/pfy34jh93sb8cn2hnjc2k73w0000gn/T/ipykernel_15118/741817340.py:8: DeprecationWarning: This function is deprecated. Please call randint(38, 100 + 1) instead
  students_marks[f'A{i}'] = list(numpy.random.random_integers(38, 100, size=(5)))

In [13]:
students_marks

{'A0': [86, 76, 67, 81, 76],
 'A1': [72, 77, 46, 90, 85],
 'A2': [41, 42, 68, 54, 54],
 'A3': [74, 84, 99, 40, 78],
 'A4': [53, 96, 99, 92, 91]}

In [7]:
print(weather)

{'Hyderabad': 44.8, 'Coimbatore': 42, 'Kolkota': 44, 'New Delhi': 49, 'Kochi': 45, 'Indore': 43.4}

In [15]:
students_data = {"David" : [34, 56, 67, 88, 90],
                 "Sony": [99, 98, 87, 65, 40]
                 }

print(students_data)

{'David': [34, 56, 67, 88, 90], 'Sony': [99, 98, 87, 65, 40]}

In [19]:
print(students_data)

{'David': [34, 56, 67, 88, 90], 'Sony': [99, 98, 87, 65, 40], 'John': [99, 87, 87, 65, 40]}

In [18]:
students_data['David'] = [99, 87, 87, 65, 45]

In [20]:
weather.keys()

dict_keys(['Hyderabad', 'Coimbatore', 'Kolkota', 'New Delhi', 'Kochi', 'Indore'])

In [21]:
weather.values()

dict_values([44.8, 42, 44, 49, 45, 43.4])

In [22]:
.items()

dict_items([('Hyderabad', 44.8), ('Coimbatore', 42), ('Kolkota', 44), ('New Delhi', 49), ('Kochi', 45), ('Indore', 43.4)])

In [23]:
weather

{'Hyderabad': 44.8,
 'Coimbatore': 42,
 'Kolkota': 44,
 'New Delhi': 49,
 'Kochi': 45,
 'Indore': 43.4}

In [24]:
weather_cities_2 = {

    "Noida": 47,
    "Pune": 42,
    "Nagpur": 40,
    "Vizag": 43

}

In [25]:
weather.update(weather_cities_2)

In [26]:
weather

{'Hyderabad': 44.8,
 'Coimbatore': 42,
 'Kolkota': 44,
 'New Delhi': 49,
 'Kochi': 45,
 'Indore': 43.4,
 'Noida': 47,
 'Pune': 42,
 'Nagpur': 40,
 'Vizag': 43}

In [28]:
test = {}


test.fromkeys(["A", "B", "C"], 1)

print(test)

{}

In [35]:
weather.pop("Pune")

42

In [36]:
weather

{'Hyderabad': 44.8,
 'Coimbatore': 42,
 'Kolkota': 44,
 'New Delhi': 49,
 'Kochi': 45,
 'Indore': 43.4,
 'Noida': 47,
 'Vizag': 43}

In [30]:
dict.fromkeys(["A", "B", "C"], True)

{'A': True, 'B': True, 'C': True}

In [ ]:
weather.

In [40]:
weather['Mumbai']

KeyError: 'Mumbai'

In [41]:
weather.get('Mumbai')

In [42]:
weather.popitem()

('Vizag', 43)

In [43]:
weather.setdefault('Secundrabad')

In [44]:
print(weather)

{'Hyderabad': 44.8, 'Coimbatore': 42, 'Kolkota': 44, 'New Delhi': 49, 'Kochi': 45, 'Indore': 43.4, 'Noida': 47, 'Secundrabad': None}